@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
  height: 100vh;
}

@layer base {
  body {
    @apply bg-background text-primary;
  }
}

@layer components {
  .btn-primary {
    @apply bg-primary text-background hover:bg-primary-light focus:ring-2 focus:ring-primary-lighter focus:ring-offset-2 transition-colors;
  }
  
  .btn-secondary {
    @apply bg-background-alt text-primary border border-primary hover:bg-background focus:ring-2 focus:ring-primary focus:ring-offset-2 transition-colors;
  }
}